


.button{
  background-color: rgb(96, 143, 26);
  border: 0ch;
  color: white;
}

.boxFooter{
  background-image: linear-gradient(to right, #21333c ,#1b5271);
  justify-content: center;
}
.propImg{
  filter: brightness(40%);
  height: auto;
  justify-content:center;
}

.textoCarousel {
  position: absolute;
  text-align-last: end;
  font-size:1rem;
  height: 80%;
  width: 50%;
  margin-left: 30%;
  padding-right: 6%;
  padding-left: -30%;
  padding-top: 150px;
  overflow-y: hidden;
}

.cajaCarousel{
  margin-top: 100px;
}
.botonesCarousel{
  min-width: 170px;
  min-height: 40px;
}
.texto-main{
  text-align: center;
  text-transform: uppercase;
  line-height: 1.4;
  height: fit-content;
  padding-top: 0.5%;
}

.textomain1{
  font-size: 20px;
  font-weight: 100;
}
